<html>
    <head>
        <title>Renske´s blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">RENSKE´S BLOG</a></h1>
        </div>

        <div>
            <p>published: 25.05.2019, 15:56</p>
            <h2><a href="">My first post</a></h2>
            <p>Hi everyone. This is so <strong>exciting</strong>! My first blog!</p>
        </div>

        <div>
            <p>published: 25.05.2019, 15:56</p>
            <h2><a href="">My second post</a></h2>
            <p>Still learning a lot. Keep checking <a href="https://cybersciencecenter.nl">link</a>, where we continue to add more content.</p>
        </div>
    </body>
</html>
